/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";
 header {
   width: 100%;
   min-height: 70px;
   background-color: black;
      .hed {
      display: flex;
      margin: auto;
     .keywordaicon {
      position: relative;
      padding: 15px 0;
      line-height: 30px;
     }
     .keywordaicon::before {
       content: "";           /* 疑似要素に必須 */
       width: 18px;           /* アイコンの横幅 */
       height: 20px;          /* アイコンの高さ */
       background: url(./searchaicon.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
       display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
       position: absolute;    /* 相対位置に指定 */
       top: 28px;              /* アイコンの位置。微調整してね */
       left: 8px;             /* アイコンの位置。微調整してね */
     }
      .keywordaicon input {
        padding: 3px 0 3px 2em; /* アイコンを設置するため左の余白を多めに指定*/
      }
      .areaaicon {
      position: relative;
      padding: 15px 0;
      line-height: 30px;
     }
     .areaaicon::before {
       content: "";           /* 疑似要素に必須 */
       width: 18px;           /* アイコンの横幅 */
       height: 20px;          /* アイコンの高さ */
       background: url(./areaaicon.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
       display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
       position: absolute;    /* 相対位置に指定 */
       top: 28px;              /* アイコンの位置。微調整してね */
       left: 8px;             /* アイコンの位置。微調整してね */
     }
      .areaaicon input {
        padding: 3px 0 3px 2em; /* アイコンを設置するため左の余白を多めに指定*/
      }
    .user {
     color: white;
     margin-left: auto;
    }
    .loginaicon {
      padding: 15px 0;
      line-height: 30px;
    }
   }
 }
  footer {
   width: 100%;
   min-height: 180px;
   padding: 80px 0;
   background-color: black;
   color: white;
   text-align: center;
   bottom: 10%;
 }
 .main {
 min-height: 600px;
 height: 900px;
 width: 100%;
 background-color: white;
}
 .notice {
    background-color: lightBlue;
}
/* ページネーション */
.pagination {
  justify-content: center;
  border: 2px;
  border-radius: 10px;
  text-align: center;
}
.pagination > li > a {
  border: none;
  color: #999;
  border-radius: 10px;
}
.pagination > li > a:hover {
  color: turquoise;
  background-color: green;
  border-radius: 10px;
}
.nyu {
 width: 150px;
}
.nyu2 {
 width: 300px;
 height: 40px;
 padding: 0 10px;
}
.nyu3 {
 color: black;
}
.top{
 min-height: 550px;
 width: 100%;
 background-image: image-url("img_cover_top.png");
 background-repeat:  no-repeat;
 background-size: cover;
 padding: 10px;
  .form-area{
   min-height: 250px;
   width: 450px;
   border-radius: 10px;
   background-color: white;
     p {
       font-size: 180%;
       margin-top: 0;
       margin-bottom: 1rem;
    }
    .btn {
    width: 91%;
    text-align: center;
    }
    .areatable {
     width: 400px;
     text-align: center;
     padding: 5px;
    }
    .areatable tr {
    height: 50px;
   }
    .areatable td {
    min-width: 70px;
    vertical-align: top;
   }
   }
}
.under {
 left: 30%;
 display: flex;
 min-height: 350px;
 background-color: white;
 padding: 40px 0;
 .h1{
 min-width: 700px;
 min-height: 100px;
}
 img {
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 300px;
}
  .sub {
   vertical-align: middle;
   border-style: none;
   width: 200px;
   height: 300px;
  }
}
.bbb {
 font-size: 18px;
 text-align: center;
 padding: 30px 0;
 .account {
  color: black;
  border-right: 3px solid blue;
 }
 .basic {
  color: black;
  border-right: 3px solid blue;
 }
 .profile {
  color: black;
  border-right: 3px solid blue;
 }
}

.row{
     height: 100%;
      .out {
        background-color: #F6F8F9;
        border-left: 2px solid #e2e2e2;
        height: 100%;
      .in {
        margin: 0px 80px;
        padding: 20px;
        border: 2px solid #e2e2e2;
        background-color: white;
        position: relative;
        top: 5%;
      }
    }
  }
  .editview{
   text-align: center;
   min-height: 600px;
   height: 900px;
   .btn {
    width: 100%;
    border: 2px solid #e2e2e2;
   }
  }
  a:link {
   color: #000000;
   text-decolation: none;
  }
  .dropdown-menu {
   padding: 15px;
  }
  .aicon {
   border-radius: 40px;
   text-align: center;
  }
 .link {
    text-decoration: none;
    color: black; 
  }
  .link:hover {
    text-decoration: none;
    color: black; 
  }
  .acounttable {
   .btn {
    width: 100%;
    }
   .p {
    width: 300px;
   }
   .aa{
    content: "必須a";
    background-color: #ff0000a8;
    border-radius: 5px;
    margin: 0 5px;
    padding: 4px;
    color: #fff;
   }
  }
   table.acounttable td:nth-child(2){
   min-width: 560px;
   max-width: 700px;
   text-align: center;
 }
  .acounttable th{
    min-width: 40px;
  }
  .acounttable td{
    min-width: 340px;
    height: 90px;
    padding: 10px;
  }
  .profiletable {
   .lable {
    background-color: red;
   }
   .btn {
      width: 100%;
    }
   .aa{
    content: "必須a";
    background-color: #ff0000a8;
    border-radius: 5px;
    margin: 0 5px;
    padding: 4px;
    color: #fff;
   }
  }
  .profiletable td{
    min-width: 700px;
    padding: 3px;
  }
  .posttable {
   border: 2px #C0C0C0 solid;
   margin: 10px 30px;
  }
  .posttable td{
    min-width: 120px;
    text-align: center;
    padding: 3px;
  }
   table.posttable tr:nth-child(1){
    border: 2px #C0C0C0 solid;
    text-align: center;
    background-color: #99FFCC;
  }
  table.posttable td:nth-child(1){
    min-width: 360px;
    text-align: center;
  }
  table.posttable td:nth-child(2){
    font-size: 18px;
    text-decoration: underline;
  }
  .posttable th{
    min-width: 120px;
    text-align: center;
    padding: 3px;
  }
  .roomarea {
   margin: 10px 10px;
   width: 280px;
   height: 280px;
   background-color: #e2e2e2;
   font-size: 2rem;
   .roomname {
    color: gray;
    margin: 5px 10px;
   }
   .address {
    color: black;
    margin: 5px 10px;
   }
   .price {
    color: black;
    text-align: right;
    margin: 5px 10px;
    font-size: 1.5rem;
   }
  }
  .count {
   font-size: 24px;
  }
  .complete {
   background-color: #F6F8F9;
   width: 100%;
   height: 100%;
   font-size: 16px;
   .in {
        margin: 0px 200px;
        padding: 20px;
        border: 2px solid #e2e2e2;
        background-color: white;
        position: relative;
        top: 5%;
      }
  }
   .reservationtable {
    widht: 100%;
  }
  .reservationtable th {
    min-width: 200px;
    padding: 3px;
  }
   .reservationtable td {
    min-width: 380px;
    padding: 3px;
  }
@import './sub-layouts'
