/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 // @import "bootstrap-sprockets";
 @import "bootstrap";

 header {
   min-width: 1000px;
   min-height: 70px;
   background-color: black;
   
   // .hed {
   //  display: flex;
   //  margin: auto;
    
      .hed {
      // float: left;
      display: flex;
      margin: auto;
    
     .keywordaicon {
      position: relative;
     }
     .keywordaicon::before {
       content: "";           /* 疑似要素に必須 */
       width: 16px;           /* アイコンの横幅 */
       height: 16px;          /* アイコンの高さ */
       background: url(./searchaicon.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
       display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
       position: absolute;    /* 相対位置に指定 */
       top: 4px;              /* アイコンの位置。微調整してね */
       left: 5px;             /* アイコンの位置。微調整してね */
     }
      .keywordaicon input {
        padding: 3px 0 3px 2em; /* アイコンを設置するため左の余白を多めに指定*/
      }
     
      .areaaicon {
      // margin-right: auto;
      position: relative;
     }
     .areaaicon::before {
       content: "";           /* 疑似要素に必須 */
       width: 16px;           /* アイコンの横幅 */
       height: 16px;          /* アイコンの高さ */
       background: url(./areaaicon.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
       display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
       position: absolute;    /* 相対位置に指定 */
       top: 4px;              /* アイコンの位置。微調整してね */
       left: 5px;             /* アイコンの位置。微調整してね */
     }
      .areaaicon input {
        padding: 3px 0 3px 2em; /* アイコンを設置するため左の余白を多めに指定*/
      }
    
    .user {
     color: white;
     margin-left: auto;
    }
    
   }
 }
 
  footer {
   min-width: 1000px;
   min-height: 180px;
   background-color: black;
   color: white;
   text-align: center;
 }

 .main {
 min-height: 600px;
 height: 900px;
 background-color: white;
}

 .notice {
    background-color: lightBlue;
}

/* ページネーション */
.pagination {
  justify-content: center;
  border: 2px;
  border-radius: 10px;
}
.pagination > li > a {
  border: none;
  color: #999;
  border-radius: 10px;
}
.pagination > li > a:hover {
  color: turquoise;
  background-color: green;
  border-radius: 10px;
}

.nyu {
 width: 150px;
}
.nyu2 {
 width: 300px;
}
.nyu3 {
 color: black;
}

.top{
 min-height: 550px;
 width: 100%;
 background-image: image-url("img_cover_top.png");
 background-repeat:  no-repeat;
 padding: 10px;
  .form-area{
   min-height: 250px;
   width: 450px;
   border-radius: 10px;
   background-color: white;
     p {
       font-size: 180%;
       margin-top: 0;
       margin-bottom: 1rem;
    }
    .btn {
    width: 90%;
    text-align: center;
    }
    .areatable {
     width: 400px;
     text-align: center;
     padding: 5px;
    }
    .areatable td {
    min-width: 70px;
    vertical-align: top;
   }
    
   }
}

.under {
 left: 30%;
 display: flex;
 top: 80%;
 min-height: 350px;
 background-color: white;
 
 .h1{
 min-width: 700px;
 min-height: 100px;
}
 
 img {
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 300px;
}
  .sub {
   vertical-align: middle;
   border-style: none;
   width: 200px;
   height: 300px;
  }
}

.container {
 background-color: white;
 min-height: 600px;
 height: 900px;
  .row{
     height: 100%;
      .cccc{
        background-color: #e2e2e2;
        border-left: 2px solid #e2e2e2;
      .aaaa {
        margin: 40px 100px;
        border: 2px solid #e2e2e2;
        width: 650px;
        background-color: white;
        min-height: 500px;
        height: 700px;
      }
    }
  }
}

  .editview{
   text-align: center;
   min-height: 600px;
   height: 900px;
   .btn {
    width: 100%;
   }
  }
  
  a:link {
   color: #000000;
   text-decolation: none;
  }
  
  .dropdown-menu {
   padding: 15px;
  }
  
  .aicon {
   border-radius: 40px;
   text-align: center;
  }
  
 .link {
    text-decoration: none;
    color: black; 
  }
  .link:hover {
    text-decoration: none;
    color: black; 
  }
  
  .acounttable {
   
  }
  
  table.acounttable td:nth-child(2){
  min-width: 360px;
  max-width: 500px;
  text-align: center;
}


.roomarea {
 margin: 0 10px;
 width: 280px;
 height: 280px;
 background-color: #e2e2e2;
 font-size: 2rem;
 .roomname {
  color: gray;
  margin: 5px 10px;
 }
 .address {
  color: black;
  margin: 5px 10px;
 }
 .price {
  color: black;
  text-align: right;
  margin: 5px 10px;
  font-size: 1.5rem;
 }
 
}

.count {
 font-size: 24px;
}

  